$font: 'ubuntu', 'lucida grande';
$link_color: #268BD2;
$sidebar_bg_color: #eee;
$sidebar_width: 260px;
$header_color: #333;
$selection_color: #ffffab;

$builtin_color: #B58900;
$keyword_color: #CB4B16;
$identifier_color: $link_color;

$in_group_row_spacing: 40px;

@mixin table-base {
  border-collapse: collapse;

  td {
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: top;
  }

  td:last-child {
    padding-right: 0px;
  }

  tr:last-child td {
    padding-bottom: 0px;
  }
}

@mixin table-items {
  @include table-base;

  margin-left: 30px;
  margin-bottom: $in_group_row_spacing;

  td.identifier {
    font-weight: normal;
  }

  tr:last-child td {
    padding-bottom: 5px;
  }
}

@mixin table-alt {
  tr:nth-child(even) {
    background-color: #f3f3f3;
  }

  tr.selected {
      background-color: $selection_color;
  }
}

@mixin inline-doc {
  div.brief, div.doc, div.fulldoc {
    background: transparent;
    margin: 0px;
    padding: 0px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: $font;
}

#sidebar {
  width: $sidebar_width;
  background-color: $sidebar_bg_color;
  border-right: 1px solid darken($sidebar_bg_color, 30%);
  padding: 5px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  overflow: auto;

  a.back {
    .arrow {
      padding-right: 5px;
    }
  }
}

#sidebar .subtitle {
  font-size: 1.1em;
  text-align: center;
  margin-top: 15px;

  text-shadow: 1px 1px #eee;
  color: #333;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;

  padding-left: 10px;
  font-size: 0.9em;
  margin-top: 5px;
}

#sidebar * {
    text-overflow: ellipsis;
}

#sidebar li {
  padding-bottom: 2px;
  padding-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

#sidebar span.counter {
  padding: 2px 4px 2px 4px;
  margin-left: 5px;
  font-size: 0.6em;
  vertical-align: super;
  background-color: #4298d8;
  color: #fff;
  display: none;
  border-radius: 10px;
  min-width: 10px;
  text-align: center;
}

#sidebar {
  span.virtual, span.protected {
    font-size: 0.6em;
    min-width: 1.6em;
    display: inline-block;
    vertical-align: super;
    text-align: center;
    background-color: $keyword_color;
    color: #fff;
    margin-right: 5px;
    padding-bottom: 2px;
  }
}

#sidebar .brief {
  text-shadow: none;
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
  margin: 0px;
  margin-bottom: 3px;
  color: #999;
}

a {
  cursor: hand;
  text-decoration: underline;
  color: #0876c8;
}

#sidebar a {
  text-decoration: none;
}

#page_title * {
  vertical-align: middle;
}

#content {
  margin-left: $sidebar_width + 20px;
  padding: 10px;
  padding-left: 20px;
}

.index_item {
  padding-left: 15px;
}

.section_title {
  font-size: 1.4em;
  color: #666;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}

.index_item .summary {
  font-style: italic;
  font-size: 0.9em;
  color: #888;
  margin-top: 2px;
}

.index_item {
  margin-top: 10px;
}

div.brief p:first-child, div.doc p:first-child {
  padding-top: 0px;
  margin-top: 0px;
}

div.brief p:last-child, div.doc p:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#content {
  div.fulldoc div.brief {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
  }

  div.fulldoc div.doc {
    margin: 0px;
    padding: 0px;
  }

  div.brief, div.doc, div.fulldoc {
    margin-left: 10px;
    color: #666;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 0.9em;
    background-color: #eee;
  }

  div.structures, div.classes {
    div.item {
      margin-bottom: 30px;
    }
  }

  div.typedefs {
    table {
      @include table-base;
    }
  }

  div.structures, div.classes, div.enumerations {
    table {
      @include table-items;
      @include inline-doc;
      @include table-alt;
    }
  }

  table.namespace, table.fields, table.variables, table.arguments, table.bases, table.subclasses {
    @include table-items;
    @include inline-doc;
    @include table-alt;
  }

  div.structures, div.classes {
    table {
      border-left: 1px solid #999;

      td {
        padding-left: 10px;
      }
    }
  }

  div.enumerations {
    table {
      td.value {
        text-align: right;
      }
    }
  }

  div.function {
    margin-bottom: 50px;

    div.declaration {
        background-color: lighten(#729fcf, 35%);
        border: 1px solid lighten(#729fcf, 20%);
        padding: 5px;
    }

    div.declaration.selected {
      background-color: $selection_color;
      border: 1px solid darken($selection_color, 40%);
    }

    table.declaration {
      @include table-base;

      td {
        padding: 0px;
        padding-right: 5px;
      }

      td.identifier {
        padding-right: 30px;
      }

      td.close_paren {
        padding: 0px;
      }

      td.open_paren {
        padding-right: 1px;
      }

      td.argument_name {
        text-align: left;
        padding-right: 1px;
        padding-left: 20px;
      }
    }

    div.overrides {
      margin-top: 10px;
      font-size: 0.8em;

      span.title {
        color: $keyword_color;
        padding-right: 10px;
      }

      a {
        color: lighten($link_color, 10%);
      }
    }

    table.arguments {
      td {
        font-size: 0.9em;
      }

      div.doc, div.brief, div.fulldoc {
        font-size: 1em;
      }

      tr.return {
        background: transparent;

        td {
          padding-top: 15px;
        }
      }

      margin-bottom: 10px;
    }

    div.doc, div.fulldoc, div.brief {
      background: transparent;
      margin-bottom: 0px;
    }

    div.return_type {
      padding-bottom: 5px;
    }

    ul.specifiers {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: left;
      padding-top: 0.05em;

      li {
        display: inline;
        padding-right: 5px;
        color: $keyword_color;
        font-size: 0.9em;
      }

      li:last-child {
        padding-right: 10px;
      }
    }
  }

  a.know_more {
    padding-left: 15px;
    font-size: 0.9em;
  }
}

.selected {
  background-color: $selection_color;
}

.builtin {
  color: $builtin_color;
}

.keyword {
  color: $keyword_color;
  font-weight: bold;
}

.identifier {
  color: $identifier_color;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  color: $header_color;
  padding-bottom: 3px;
  border-bottom: 1px solid lighten($header_color, 50%);
}

h1 {
  border: 0;
  margin-top: 0px;
  text-shadow: 1px 1px lighten($header_color, 60%);

  span.keyword {
    padding-right: 20px;
  }
}

h2 {
  margin-top: 60px;
}

div.back {
  div.name {
    padding-bottom: 5px;

    span.keyword {
      padding-right: 5px;
      font-weight: normal;
    }
  }

  a.back {
    display: block;
    margin-left: 10px;
  }
}

#content div.description {
  @include inline-doc;
}


/* vi:ts=2:et */
